/* You can add global styles to this file, and also import other style files */
body{
    // background-image: radial-gradient(white, rgba(46, 15, 138, 0.404),white);
    background-image: url("/assets/bgImage.jpeg");
    font-family:cursive;
    background-size: 100%;
}